@import "../../shared/style/font.scss";
@import "../../shared/style/colour-theme.scss";
@import "../../shared/style/util.scss";

.HexGrid {
  // The code below is copied from https://escss.blogspot.com/2017/04/auto-hexagonal-css-grid-layout.html
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
  }
  --Nhexa: var(--Nhexa-med);
  --gap: 2vw;
  --size: calc(calc(var(--base-size) / var(--Nhexa)) - var(--gap));

  @media only screen and (min-width: 1100px) {
    --Nhexa: var(--Nhexa-big);
  }
  @media only screen and (max-width: 600px) {
    --Nhexa: var(--Nhexa-small);
  }
  @include industry-simple();
  //font-size: large;

  margin-right: calc(var(--size) * 0.7);

  // overflow-x: visible;
  width: fit-content;
  hyphens: auto;

  section {
    margin: calc(var(--size) * 0.5) 0;
    width: calc(var(--size) * calc(var(--Nhexa) - 1));
    display: grid;
    grid-template-columns: repeat(var(--Nhexa), 1fr);
    grid-gap: var(--gap);
    margin-bottom: 10%;
  }
  a {
    text-decoration: none;
    display: block;
  }
  a {
    @include glassmorphism();
    width: var(--size);
    height: calc(var(--size) / 1.1111111);
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    margin-right: calc(var(--size) / 2);
    color: #fff;
    overflow:visible;
    //@media screen and (min-width: 600px) {
      &:nth-child(2n) {
        margin: calc(var(--size) * -0.5) calc(var(--size) * -0.25) 0
          calc(var(--size) * -0.75);
      }
    //}
    img {
      width: var(--size);
      height: var(--size);
      object-position: 20% 20%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 0% 50%;
      transition: 0.75s;
      //   clip-path: url(#hexagono);
      clip-path: inherit;
      z-index: 10;
    }
    figure {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;
      opacity: 0;
    }
    h2 {
      text-align: center;
      font-size: large;
      overflow: visible;
      @media screen and (min-width: 1100px) {
        font-size: small;
      }
      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
    p {
      text-align: center;
      width: 110%;
      overflow: visible;
      font-size: medium;
      @media screen and (min-width: 1100px) {
        font-size: x-small;
      }
      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
    &:hover {
      img {
        opacity: 0;
        transition: 0.5s ease-in-out;
      }
      figure {
        opacity: 100;
      }
    }
  }
  // @if var(--Nhexa-small)==1 {
  //   @media screen and (max-width: 600px) {
  //     margin-right: inherit;
  //     section {
  //       display: flex;
  //       flex-direction: column;
  //       margin-top: 0;
  //     }
  //     a {
  //       margin-right: inherit;
  //     }
  //   }
  // }
  
}
