.SignUp {
    color: white;
    background-color: rgb(80, 153, 221);
    text-decoration: none;
    border-radius: 5px;
    min-height: 0.05vw;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignUp:hover {
    color: rgb(135, 169, 202);
    background-color: white;
    border-radius: 5px;
}