@import '../../shared/style/colour-theme.scss';
@import '../../shared/style/font.scss';

.Committee {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-right: 3%;
    h1 {
        @include industry_bold();
        color: $blue;
    }
    .hex-committee section {
        margin-bottom: 5%;
    }
    .join-us {
        width: 100%;
        display: flex;
        justify-content:center;
        margin-bottom: 5%;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 15vw;
            // height: 5vh;
            text-align: center;
            padding: 10px;
            //margin-right: 5%;
            background-color: $blue;
            color: $white;
            text-decoration: none;
            border-radius: 5%;
            opacity: 0.9;
            &:hover {
                color: $blue;
                background-color: transparent;
                box-shadow: 5px inset;
            }
        }
        @media screen and (max-width: 600px) {
            margin-top: 5vh;
            justify-content: center;
            a {
                width: 20vw;
                margin-right: 0;
            }
        }
    }
}
