@import "../../shared/style/colour-theme.scss";
@import "../../shared/style/font.scss";
@import "../../shared/style/util.scss";
@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

.SponsorShowcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  h1 {
    text-align: left;
    min-width: 80%;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    @include industry-bold();
    font-size: calc(min(0.7in, 8vw));
    color: $green;
  }
  .slider-container {
    display: block;
    width: 90%;
    .slide {
      img {
        width: 20rem;
        margin: 0 auto;
      }
      transform: scale(0.8);
      transition: transform 300ms;
      opacity: 0.5;
    }
    .active-slide {
      transform: scale(1);
      opacity: 1;
    }
    .slick-slider {
      display: flex;
      align-items: center
    }
  }
}

.SponsorShowcaseCard {
  @include glassmorphism();
  border-radius: 4%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 500px;
  .sponsor-logo {
    width: 100%;
    min-height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  .sponsor-logo-active {
    background-position: center;
    min-height:40px;
    transition: transform 300ms;
  }
  .player {
    padding: 0%;
    margin: 0%;
  }
  p {
    @include open-sans();
    font-size: medium;
    height: fit-content;
    text-align: justify;
    @media screen and (max-width: 1024px){
      font-size: small;
    }
  }
}

