@import '../../shared/style/colour-theme.scss';
@import '../../shared/style/font.scss';

.Timeline {
    h1 {
        @include industry-bold();
        color: $green;
        font-size: calc(min(0.7in, 8vw));
        padding-left: 10%;
    }
    .Timeline__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        max-width: 100%;
    }
}