@mixin glassmorphism {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(209, 213, 219, 0.3);
};